<div class="header-bar">
  <h1>Welcome to My TODO App</h1>
</div>
<br>

<h1><b>Buckets</b></h1>
<div class="bucket-container">
  <input type="text" [(ngModel)]="newBucketName" placeholder="Enter bucket name" class="bucket-input">
  <button (click)="createBucket(newBucketName)" class="bucket-btn">New bucket</button>
</div>
<ul>
  <li *ngFor="let bucket of buckets">
    <h3><b>{{ bucket.bucketName }} Bucket</b></h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Date Created &nbsp;
          <img src="/assets/images/sort.png" alt="Sort" matTooltip="Sort" (click)="toggleSortOrder(bucket.bucketName)">
        </th>
        <th>Priority &nbsp;
          <img src="/assets/images/filter.png" alt="Filter" matTooltip="Filter"
            (click)="showPriorityFilter = !showPriorityFilter">
          <div *ngIf="showPriorityFilter">
            <select [(ngModel)]="selectedPriority" (change)="filterByPriority(selectedPriority,bucket.bucketName)">
              <option value="">All</option>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
        </th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let task of (bucketFilters[bucket.bucketName] || bucket.tasks)">
        <td>
          <ng-container *ngIf="task.editMode; else displayTitle">
            <input type="text" [(ngModel)]="task.title" />
          </ng-container>
          <ng-template #displayTitle>
            {{ task.title }}
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="task.editMode; else displayDateCreated">
            <input type="date" [(ngModel)]="task.dateCreated" />
          </ng-container>
          <ng-template #displayDateCreated>
            {{ task.dateCreated }}
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="task.editMode; else displayPriority">
            <select id="priority" name="priority" [(ngModel)]="task.priority" required>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </ng-container>
          <ng-template #displayPriority>
            {{ task.priority }}
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="!task.editMode && task.editModeForStatus; else displayStatus">
            <select id="status" name="status" [(ngModel)]="task.status" required>
              <option value="Pending">Pending</option>
              <option value="WIP">WIP</option>
              <option value="Complete">Complete</option>
            </select>
          </ng-container>
          <ng-template #displayStatus>
            {{ task.status }}
          </ng-template>
        </td>
        <td>
          <button (click)="editTask(task)" *ngIf="!task.editMode" class="edit-btn">Edit</button>&nbsp;
          <button (click)="updateStatus(task)" *ngIf="!task.editModeForStatus" class="updt-btn">Update
            Status</button>&nbsp;
          <button (click)="deleteTask(task)" class="del-btn">Delete</button>&nbsp;
          <button (click)="saveTask(task)" *ngIf="task.editMode" class="save-btn">Save</button>&nbsp;
          <button (click)="saveTask(task)" *ngIf="task.editModeForStatus" class="save-btn">Save</button>&nbsp;
        </td>
      </tr>
    </table>
    <br />
  </li>
</ul>


<div class="todo-form-container">
  <h2>Add Todo Task</h2>
  <form (submit)="createTask(newTaskForm, selectedBucket)" class="form-class">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" [(ngModel)]="newTaskForm.title" class="form-input-tags" required>
    <br>
    <label for="dateCreated">Date Created</label><br>
    <input type="date" id="dateCreated" name="dateCreated" [(ngModel)]="newTaskForm.dateCreated" class="form-input-tags"
      required>
    <br>
    <label for="priority">Priority</label><br>
    <select id="priority" name="priority" [(ngModel)]="newTaskForm.priority" class="form-input-tags" required>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br>
    <label for="status">Status</label><br>
    <select id="status" name="status" [(ngModel)]="newTaskForm.status" class="form-input-tags" required>
      <option value="Pending">Pending</option>
      <option value="WIP">WIP</option>
      <option value="Complete">Complete</option>
    </select>
    <br>
    <label for="bucket">Bucket</label><br>
    <select id="bucket" name="bucket" [(ngModel)]="selectedBucket" class="form-input-tags" required>
      <option *ngFor="let option of bucketOptions" [value]="option">{{ option }}</option>
    </select>
    <br>
    <br>
    <button type="submit" class="create-task-btn"><b>ADD</b></button>
  </form>
</div>